<app-header title="Inicio"></app-header>


<ion-content>

  <div class="d-flex-center">
    <app-logo></app-logo>
  </div>
  
  <ion-button (click)="routerlinkIntro()" expand="block" fill="clear" shape="round">
    Api
  </ion-button>

</ion-content>

<div *ngIf="divPhoto" id="reader" width="100%" height="100%"></div>
<a [href]="hrefUrl">{{hrefUrl}}</a>

<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="takeImage()"  tab="camera">
    <ion-icon name="camera"></ion-icon>
    <ion-label>Cámara</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="addUpdateStudnets()" tab="generateQr">
    <ion-label>Generar QR</ion-label>
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="signOut()" tab="logout">
    <ion-icon name="log-out"></ion-icon>
    <ion-label>Cerrar Sesión</ion-label>
  </ion-tab-button>
</ion-tab-bar>